{
  "rules": {
    "angular/ng_angularelement": 0,
    "angular/ng_no_digest": 0,
    "angular/ng_json_functions": 0
  },
  "globals" :{
    "module": true,
    "describe": true,
    "xdescribe": true,
    "it": true,
    "xit": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "expect": true,
    "jasmine": true,
    "inject": true,
    "spyOn": true,
    "$": true,
    "clickElement": true
  } 
}